*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 550px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.img-container{
    display: inline-block;
    float: left;
}

img{
    width: 275px;
    height: 400px;
}

.text-container{
    width: 275px;
    height: 400px;
    float: right;
    padding: 30px;
}

p{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 300;
    color: hsl(228, 12%, 48%);
}

h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces';
    line-height: 100%;
    margin-top: 10px;
}